.md-form input[type='email']:not([readonly]), 
input[type='password']:not([readonly])
{
    border-color:#0091ea!important;
}
.md-form .prefix{
    color:#0091ea;
}
.md-form input[type='email']:focus:not([readonly]), 
input[type='password']:focus:not([readonly]) 
{
    border-bottom: 1px solid #000!important;
    box-shadow: 0 0.5px 0 0 #000!important;
}
.md-form .prefix.active{
    color:#000;
}
.text-light-blue{
    color: #0091ea;
}

input[type='checkbox']{
    background-color:#0091ea;
}
.custom-checkbox input[type='checkbox']:checked{
 background-color:#0091ea;   
}

.submitButton{
    background-color: #0091ea!important;
    color:#fff!important;
    font-size:15px!important;
}
.submitButton:hover{
    background-color: #fff!important;
    color:#000!important;
}

.bg{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height:100%;
    z-index: -1; 
}